.wrap {
  border-top: 1px solid black;
  padding-top: 8px;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  display: block;
  margin-bottom: 4px;
  padding: 3px;
  border: 1px solid #888;
}

.input:focus {
  outline: none;
}

input.error {
  border: 1px solid indianred;
}

.message {
  margin-left: 4px;
  font-size: 12px;
  display: inline-block;
  color: indianred;
}

.ok {
  color: mediumseagreen;
}
